@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .home-headings {
    @apply text-3xl font-bold text-center;
  }

  .about-headings {
    @apply relative mb-12 text-4xl font-bold text-center;
  }

  .underlined {
    @apply absolute w-10 h-1 -ml-6 bg-black mt-7 inset-1/2;
  }

  .primary-ring {
    @apply focus:ring-4 focus:ring-[#5D88FF] transition-all duration-200 ring-offset-2;
  }

  .step-circle {
    @apply rounded-full md:h-10 md:w-10 h-8 w-8 text-sm grid place-items-center mb-2;
  }

  .nav-link {
    @apply px-6 text-sm text-black py-1 rounded-full mr-2 bg-[#E7D6F9];
  }
}

.underlined-headings {
  position: relative;

  ::after {
    content: "asdad";
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: black;
  }
}

// hamburger menu

.nav-menu span:nth-child(1) {
  top: 0px;
}

.nav-menu span:nth-child(2),
.nav-menu span:nth-child(3) {
  top: 9px;
}

.nav-menu span:nth-child(4) {
  top: 18px;
}

.nav-menu.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.nav-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-menu {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 5px auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-menu span {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 100%;
  background: #132d63;
  border-radius: 4.5px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}
